
/* CSS de Home */

.home-container {
    font-family: 'Exo 2', sans-serif;
}

.container {
    width: 100%; 
    padding-left: 0;
    padding-right: 0; 
}

.home-title {
    text-align: center;
    font-size: 36px;
    padding-bottom: 20px;
    padding-top: 60px;
}

.home-subtitle{
    text-align: center;
    font-size: 20px;
    margin-bottom: 80px;
}

.intro-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px; 
    font-size: 19px;
}

.intro-section-left,
.intro-section-right {
    flex: 1; 
}

.intro-section-right{
    margin-left: 90px;
}

.what-title, .how-title{
    margin-bottom: 35px;
}

.introduction-list,
.how-it-works-list,
.sub-stats-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.introduction-item,
.how-it-works-item,
.sub-stats-item {
    margin-bottom: 10px;
}

.sub-stats-list {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 35px; 
}

.home-new-bet,
.home-stats,
.home-top-users {
    padding: 60px 0;
    text-align: center;
}

.home-new-bet h2,
.home-stats h2,
.home-top-users h2 {
    font-size: 28px;
    margin-bottom: 30px;
}

.home-new-bet p,
.home-stats p,
.home-top-users p {
    font-size: 20px;
    margin-bottom: 30px;
}

.btn-primary {
    padding: 12px 24px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #2d6a47;
    text-decoration: none;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #2d6a47;
}

.home-introduction .icon,
.home-introduction .sub-icon {
    width: 15px;
    margin-right: 5px;
    margin-top: 5px;
}

.what-item,
.how-list-item,
.sub-stats-item {
    margin-left: 15px;
    margin-top: 5px;
}


@media (min-width: 768px) {
    .home-container {
        padding-top: 50px;
    }

    .home-title {
        font-size: 48px;
    }
}

/* CSS de Formularios */

.auth-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 40px 20px; 
    border: 1px solid #e1e1e1; 
    border-radius: 10px; 
    background-color: #e6e6e6;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 80px;
    font-family: 'Exo 2', sans-serif;
}

.title {
    text-align: center;
    margin-bottom: 30px; 
    color: #333; 
    font-size: 24px; 
}

.input-group {
    margin-bottom: 30px; 
    position: relative; 
}

.label-form {
    display: block;
    margin-bottom: 10px; 
    color: #555;
    font-weight: 600; 
}

.input-form {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px; 
    background-color: #fff; 
    font-size: 16px; 
}

.password-toggle-icon {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(10%);
    cursor: pointer;
    z-index: 1;
}

.error-message {
    color: red; 
    text-align: center; 
    margin-top: 10px; 
    font-size: 14px; 
}

.btn-success {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: #3f865d; 
    color: #fff; 
    font-size: 18px; 
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.btn-success:hover {
    background-color: #156436; 
}

.link-register{
    color: #3f865d;
}

/* CSS de Navbar*/

.navbar-custom {
    background-color: #f8f9fa; 
    border-bottom: 1px solid #ddd;
    font-family: 'Exo 2', sans-serif;
    height: auto;
    padding: 8px;
    align-items: center;
}

.logo-name-navbar a,
.navbar-brand.h1 {
    color: #3f865d; 
}

.navbar-brand{
    font-size: 25px;
}

.icono-nav{
    height: 40px;
    width: 40px;
    margin-right: 6px;
}

.boton-toggler button {
    background-color: transparent; 
    border: none; 
    color: #3f865d; 
}

.boton-toggler button:hover {
    background-color: transparent; 
}

.dropdown-menu {
    background-color: #f8f9fa; 
}

.dropdown-menu .dropdown-item {
    color: #000000; 
}

.dropdown-menu .dropdown-item:hover {
    background-color: #f0f0f0; 
}

.dropdown-menu .logout {
    color: #dc3545; 
}

.dropdown-menu .logout:hover {
    background-color: #f8d7da; 
}

.boton-navbar {
    color: #fff; 
}

.boton-navbar:hover {
    opacity: 0.8; 
}


/* CSS de NewBet*/

.new-bet-container {
    margin-top: 50px;
    font-family: 'Exo 2', sans-serif;
}

.new-bet-title {
    text-align: center;
    font-size: 28px;
    margin-bottom: 40px;
    color: #3f865d; 
}

.new-bet-form-container {
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.new-bet-form {
    width: 600px; 
    padding: 20px;
    border: 2px solid #3f865d; 
    border-radius: 8px;
    background-color: #e6e6e6;
}

.form-group {
    margin-bottom: 20px; 
}

.form-label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    color: #3f865d; 
}

.form-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 7px;
    margin-bottom: 2px;
}

.submit-button {
    width: 100%;
    padding: 12px; 
    font-size: 18px;
    color: #fff;
    background-color: #3f865d;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #20683e; 
}

/* CSS de MyBets*/

.my-bet-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Exo 2', sans-serif;
}

.my-bet-title {
    text-align: center;
    font-size: 28px;
    margin-bottom: 40px;
    color: #3f865d !important;
}

.my-bet-table-container {
    max-width: 90%;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    border-radius: 15px; 
}

.my-bet-table {
    width: 80%;
    border-radius: 10px; 
    overflow: hidden; 
}

.my-bet-table th,
.my-bet-table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #acacac; 
    border-right: 1px solid #ddd; 
    border-left: 1px solid #ddd; 
    border-radius: 5px; 
}

.my-bet-table th {
    background-color: #3f865d;
    color: #fff;
    font-weight: lighter;
}

.my-bet-table tbody tr:nth-child(even) {
    background: linear-gradient(315deg, #ebebebce, #ffffffd5) !important;
}

.my-bet-table tbody tr:nth-child(odd) {
    background-color: #e9e9e9;
}

.my-bet-table tbody tr:hover {
    background-color: #ddd;
}

.my-bet-table tbody tr:not(.won):not(.lost):not(.void) td {
    background: linear-gradient(315deg, #ebebeb, #fff);
}

.won,
.lost,
.void {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.won {
    background: linear-gradient(315deg, #a1db5d, #c5f88b) !important;
}

.lost {
    background: linear-gradient(315deg, #fd776d, #fd918a) !important;
}

.void {
    background: linear-gradient(315deg, #73bffd, #afd8fa) !important;
}


/* CSS de Stats*/

.stats-container {
    margin-top: 50px;
    max-width: 80%; 
    margin-left: auto; 
    margin-right: auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Exo 2', sans-serif;
}

.stats-title {
    text-align: center;
    font-size: 28px;
    margin-bottom: 40px;
    color: #3f865d; 
}

.stats-details {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
    max-width: 100%;
}

.table {
    width: 35%; 
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    background: linear-gradient(135deg, #f7f7f7, #d6d6d6); 
    margin-bottom: 40px; 
}

.h2-stats {
    background: linear-gradient(135deg, #62bd88, #3f865d);
    color: white;
    font-size: 20px;
    padding: 15px; 
    margin: 0;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.table-stats {
    width: 100%;
    border-collapse: collapse;
    font-size: 20px;
}

.tr-stats {
    border-bottom: 1px solid #ffffff;
}

.td-stats {
    padding: 15px;
    text-align: left;
    border-right: 1px solid #ffffff;
}

/* CSS de Profile*/

.profile-container {
    margin-top: 50px;
    font-family: 'Exo 2', sans-serif;
}

.profile-title {
    text-align: center;
    font-size: 28px;
    margin-bottom: 40px;
    color: #3f865d; 
}

